@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
body {
    background-color: #2C2C2C;
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
    font-family: "Baloo 2", serif;  
}

.main {
    display: flex;
    gap: 200px;
}

.left p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.yellow-text {
    font-size: 32px;
    color: yellow;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgb(90,90,90)
}

.cost-text {
    font-size: 18px;
}

.cheese-moon-image {
    width: 300px;
}

.cheese-moon-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.cheese-moon-image:active {
    opacity: 0.8;
    transform: scale(1.02);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 20px; 
    border: 4px solid white;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    position: relative;
    margin-bottom: 10px;
}

.upgrade:hover {
    opacity: 0.85;
    cursor: pointer;
}

.cheese-img-container {
    position: relative;
}

.cheese-moon-img {
    width: 25px;
    height: 25px;
}

.mid-section h4 {
    font-size: 28px;
    margin: 0;
    margin-top:10px;
    margin-bottom: 6px;
}

.mid-section p {
    margin: 0;
}

.upgrade-img {
    width: 55px;
}

.cost-info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(90,89,90);
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}

.statistics {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px white solid;
    border-top-right-radius:  10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}

.util-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 10px;
}

.util-button {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    border-radius: 6px;
}

.util-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fade-up {
    animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    10% {
        transform: translateY(-5px);
        opacity: 0,9;
    }
    20% {
        transform: translateY(-10px);
        opacity: 0.9;
    }
    30% {
        transform: translateY(-15px);
        opacity: 0.8;
    }
    40% {
        transform: translateY(-20px);
        opacity: 0.7;
    }
    50% {
        transform: translateY(-25px);
        opacity: 0.6;
    }
    60% {
        transform: translateY(-30px);
        opacity: 0.48;
    }
    70% {
        transform: translateY(-35px);
        opacity: 0.36;
    }
    80% {
        transform: translateY(-40px);
        opacity: 0.24;
    }
    90% {
        transform: translateY(-45px);
        opacity: 0.12;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }


}
